.bookDetailImg{
    width: 310px!important;
    height: 400px;
}

.bookDetailContainer{
    display: flex;
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 450px) {
    .bookDetailImg{
        width: 200px!important;
        height: 300px;
    }
}