.cardContainer{
    max-width: 415px;
    height: auto;
}

.cardContainer img{
    object-fit: contain;
    max-height: 208px;
    max-width: 300px;
}

.cardContainer img:hover{
    cursor: pointer;
}


@media screen and (max-width: 769px) {
    .cardContainer {
        max-width: 250px;
        display: flex;
        align-items: center;
        text-align: center;
    }
  }
